.table {
  border-collapse: collapse;
  width: 100%;

  &__svg {
    display:inline-block;
    vertical-align:-.125em;
    overflow:visible;
    width:1.125em;
    height:1em;
    font-size:inherit;
    color: #007bff
  }

  &__delete-btn {
    border: none;
    background: none;
    cursor: pointer;
  }
}

table td {
  border: 1px solid #dee2e6;
  padding: 0.5rem;
}

table th {
  border: 1px solid #dee2e6;
  padding: 0.5rem;
}

tbody tr {
  &:nth-child(2n+1) {
    background-color: rgb(0 0 0 / 5%);
  }
}

